{
  "id": "{{Id}}",
  "name": "{{DisplayName}}",
  "version": "1.0.0",
  "sdkVersion": "{{SdkMajor}}.{{SdkMinor}}",
  "entryAssembly": "{{ProjectName}}.dll",
  "platform": "{{Platform}}",
  "author": "{{Author}}",
  "description": "",
  "projectUrl": "",
  "iconFile": ""
}
